importFrom(httr, GET)
importFrom(jsonlite, fromJSON)
importFrom(dplyr, select, mutate, filter, arrange, summarize, group_by)
importFrom(magrittr, `%>%`)
importFrom(tidyr, unnest)
importFrom(data.table, data.table, setnames, fread)
importFrom(sf, st_as_sf)
importFrom(geosphere, distHaversine, distGeo)
importFrom(leaflet, leaflet, addTiles, addMarkers, addCircleMarkers, addPolylines)
importFrom(tools, file_path_sans_ext)
#importFrom(base, readRDS)

# Exported functions
export(fetch_api_data)
export(read_gtfs_files)
export(plot_stops)
export(plot_stops_api)
export(plot_bus_locations_api)
export(plot_specific_route)
export(find_nearest_stop)
export(find_busiest_stops)
export(find_busiest_stops_api)
export(get_available_buses)
export(read_gtfs_files)
